<div class="menu" id="menu" aria-hidden="true">
  <div class="menu__scrim" data-menu-close></div>
  <div class="menu__panel glass" role="dialog" aria-modal="true" aria-label="Site menu" tabindex="-1">
    <p class="menu__eyebrow">Menu</p>
    <nav class="menu__nav" aria-label="Main menu">{{menuPrimary}}</nav>
    <div class="menu__foot">
      <div class="menu__subs">{{menuSecondary}}</div>
      <div class="menu__contact">
        <a href="{{phoneHref}}" data-hover>{{phone}}</a>
        <a href="{{emailHref}}" data-hover>{{email}}</a>
      </div>
    </div>
    <div class="menu__cta">{{quoteBtnLight}}</div>
  </div>
  <button class="menu__close" type="button" data-menu-close aria-label="Close menu">
    <span></span><span></span>
  </button>
</div>
